body {
    font-family: 'cos2', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}

@font-face {
    font-family: 'cos2';
    src: url('SF-Pro-Text-Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'cos1';
    src: url('SF-Pro-Text-Medium.otf') format('opentype');
}

h1 {
    color: #2e86c1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 300%;

}

p {
    font-size: 3em;
    color: #2e86c1;
    font-family: cos2;
}

h1 {

    font-size: 1.2em;
    color: #2e86c1;
    font-family: cos2;

}

.card {
    width: 45%;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    float: left;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}



.card {
    width: calc(50% - 20px);
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 15px;
    float: left;
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 4px 2px 2px rgb(0, 0, 0);
}

.box {
    padding: 15px;
    font-size: 1.2em;
    font-family: 'cos1';
    margin: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 1px 1px rgb(0, 0, 0);

}


@media (max-width: 768px) {
    .card {
        width: calc(100% - 20px);
        clear: both;
    }
}

.project-description {
    color: #777;
    font-size: 1.2em;
    margin-top: -20px;
}

.logo {
    width: 80px;
    height: 80px;
    display: flex;
    margin-top: -10px;
    margin-left: -17px;
}

.logo2 {
    width: 10%;
    height: 10%;
    margin: 10px;
    display: inline-block
}


.links {
    font-size: 10px;
    font-family: 'cos1';
    display: flex;
    float: right;

}

a {
    text-decoration: none;
    color: black;
    font-size: 01em;
}

a:hover {
    color: #2e86c1;
}

.box:hover {
    transform: scale(1.05);
}